.copyright {
    display: inline-block;
    padding: 10px 10px 10px 0;
    color: #fff;
    text-decoration: none;
  }
div#prtcls {
  z-index: -1;
  }
.intro {
  z-index: 5;
  margin-top: -550px;
  margin-bottom: 0px;
  }