<form name="contact" method="POST" data-netlify="true">
    <div class="input-group">
        <input class="input--style-2" type="text" placeholder="First name" name="first name">
    </div>

    <div class="input-group">
        <input class="input--style-2" type="text" placeholder="Last name" name="last name">
    </div>

    <div class="input-group">
        <input class="input--style-2" type="text" placeholder="Email" name="email">
    </div>

    <div class="input-group">
        <textarea name="question" placeholder="Question" rows="5"></textarea>
    </div>
    
    <div>
        <button class="btn btn--radius btn--color" type="submit">Send</button>
    </div>
</form>
